@model Futebox.Models.Processo
@{
    var spinner = "<div class='spinner-border' role='status'><span class='visually-hidden'>Loading...</span></div>";
    var progress = new Dictionary<int, Tuple<string, string, string, string>>() {
            { (int)Futebox.Models.Enums.StatusProcesso.Erro, Tuple.Create("0%", "📅⚪", "▶⚪", "☁⚪") },
            { (int)Futebox.Models.Enums.StatusProcesso.Criado, Tuple.Create("0%", "📅⚪", "▶⚪", "☁⚪") },
            { (int)Futebox.Models.Enums.StatusProcesso.Agendado, Tuple.Create("33.3%", "📅🟢", "▶⚪", "☁⚪") },
            { (int)Futebox.Models.Enums.StatusProcesso.VideoErro, Tuple.Create("49.6%", "📅🟢", "▶🔴", "☁") },
            { (int)Futebox.Models.Enums.StatusProcesso.VideoCompleto, Tuple.Create("66.6%", "📅🟢", "▶🟢", "☁") },
            { (int)Futebox.Models.Enums.StatusProcesso.PublicacaoErro, Tuple.Create("83.3%", "📅🟢", "▶🟢", "☁🔴") },
            { (int)Futebox.Models.Enums.StatusProcesso.Publicado, Tuple.Create("100%", "📅🟢", "▶🟢", "☁🟢") },
    };
    var currentProgress = progress[(int)Model.status];
}

<div class="row">
    <div class="col-4 text-end">@currentProgress.Item2</div>
    <div class="col-4 text-end">@currentProgress.Item3</div>
    <div class="col-4 text-end">@currentProgress.Item4</div>
</div>
<div class="progress" style="height: 5px;">
    <div class="progress-bar" role="progressbar" style="width: @currentProgress.Item1" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
