@model Tuple<string, string>
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="true">
    <div class="toast-header">
        <strong>@Model.Item1</strong>
        <small>just now</small>
    </div>
    <div class="toast-body">
        @Model.Item2
    </div>
</div>