@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Futebox Manager</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Ferramentas do gerenciamento do canal futebox</a>.</p>
</div>
