@page
@model Futebox.Pages.ProcessosModel
@{
    ViewData["Title"] = "Processos";
    bool show = false;
}
<div class="well">
    <button class="btn btn-info" onclick="Jobs()">Jobs</button>
</div>
<div class="accordion" id="accord">
    @foreach (var grupo in Model.processos.OrderByDescending(_ => _.Item1.agendamento).Select((_, i) => new { entity = _, index = i })
  .GroupBy(_ => new { dt = _.entity.Item1.criacao.ToString("yyyyMMdd"), format = _.entity.Item1.criacao.ToString("dd/MM/yyyy") }))
    {
        { show = grupo.Any(_ => _.index == 0); }
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading@(grupo.Key.dt)">
                <button class="accordion-button @(!show ? "collapsed" : "")" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(grupo.Key.dt)" aria-expanded="true" aria-controls="collapse@(grupo.Key.dt)">
                    @grupo.Key.format
                </button>
            </h2>
            <div id="collapse@(grupo.Key.dt)" class="accordion-collapse collapse @(show ? "show" : "")" aria-labelledby="heading@(grupo.Key.dt)" data-bs-parent="#accord">
                <div class="accordion-body">
                    <table id='tabela' class="table table-borderless" style="table-layout:fixed;">
                        <thead>
                            <tr class="align-middle">
                                <th width="60%" scope="col">Processo</th>
                                <th width="40%" scope="col" valign="middle">Configurações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var processo in grupo.ToList().Select(_ => _.entity))
                            {
                                @Html.Partial("Templates/_processoTableRow", Tuple.Create(Model, processo.Item1, processo.Item2))
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
<div id="card"></div>

<div class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="plog" class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function Executar(processo, sub) {
            $.post(`/api/processo/${processo}/executar`, {}, s => {
                $.SendToast(s.id, "Executando")
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }

        function Agendar(processo) {
            var row = $(`[data-row-id="${processo}"]`);

            var data = row.find('.data').val();
            var hora = row.find('.hora').val();
            var min = row.find('.min').val();
            var seg = row.find('.seg').val();
            var dataSplited = data.split('-');

            if (!hora) {
                $.SendToast(processo, 'Não agendado, falta hora!')
                return;
            }
            $.get(`/api/processo/${processo}/agendar?dia=${dataSplited[2]}&mes=${dataSplited[1]}&ano=${dataSplited[0]}&hr=${hora}&min=${min}&sec=${seg}`).then(_ => {
                $.SendToast(processo, 'Processo agendado!')
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }

        function AgendarCancelar(processo) {
            $.get(`/api/processo/${processo}/agendar-cancelar`).then(_ => {
                $.SendToast(processo, 'Processo cancelado!')
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }

        function Jobs(processoId) {
            $('#plog').html('');
            var url = processoId ? `/api/processo/${processoId}/job` : `/api/processo/jobs`;
            $.get(url, s => {
                console.log(s);
                $('#plog').html(`<pre>${JSON.stringify(s)}</pre>`);
                $('.modal').modal('show');
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }

        function Pasta(pasta) {
            $.get(`/api/processo/pasta?q=${encodeURIComponent(pasta)}`)
                .fail(function () {
                    $.SendToast(s.id, "FALHOU")
                });
        }

        function Log(processo) {
            $('#plog').html('');
            $.get(`/api/processo/${processo}/log`, s => {
                console.log(s);
                $('#plog').html(`<pre>${s}</pre>`);
                $('.modal').modal('show');
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }

        function Delete(processo) {
            if (confirm("Remover?")) {
                $.post(`/api/processo/${processo}/deletar`, {}, s => {
                    $(`[data-row-id="${processo}"]`).remove();
                }).fail(function () {
                    $.SendToast(s.id, "FALHOU")
                });
            }
        }

        function Imagem(processo) {
            $.get(`/api/processo/${processo}/imagem`, s => {
                $.SendToast(s.id, "Executando")
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }


        function Audio(processo) {
            $.get(`/api/processo/${processo}/audio`, s => {
                $.SendToast(s.id, "Executando")
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }

        function Video(processo) {
            $.get(`/api/processo/${processo}/video`, s => {
                $.SendToast(s.id, "Executando")
            }).fail(function () {
                $.SendToast(s.id, "FALHOU")
            });
        }

        function Publicar(processo) {
            $.get(`/api/processo/${processo}/publicar`, s => {
                // UpdateRow(processo);
                $.SendToast(s.id, "Publicando")
            }).fail(function () {
                // UpdateRow(processo);
            });
        }

        function TodasAgendas() {
            fetch(`/processos?handler=TableAgenda`)
                .then((response) => {
                    return response.text();
                })
                .then((result) => {
                    $('#plog').html('');
                    $('#plog').html(`<pre>${result}</pre>`);
                    $('.modal').modal('show');
                });
        }

    </script>
}
