@page
@model Futebox.Pages.ProcessosModel
@{
    ViewData["Title"] = "Processos";
    bool show = false;
}
<div class="accordion" id="accord">
    @foreach (var grupo in Model.processos.OrderByDescending(_ => _.agendamento).Select((_, i) => new { entity = _, index = i })
     .GroupBy(_ => new { dt = _.entity.criacao.ToString("yyyyMMdd"), format = _.entity.criacao.ToString("dd/MM/yyyy") }))
    {
        { show = grupo.Any(_ => _.index == 0); }
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading@(grupo.Key.dt)">
                <button class="accordion-button @(!show ? "collapsed" : "")" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(grupo.Key.dt)" aria-expanded="true" aria-controls="collapse@(grupo.Key.dt)">
                    @grupo.Key.format
                </button>
            </h2>
            <div id="collapse@(grupo.Key.dt)" class="accordion-collapse collapse @(show ? "show" : "")" aria-labelledby="heading@(grupo.Key.dt)" data-bs-parent="#accord">
                <div class="accordion-body">
                    <table id='tabela' class="table table-borderless" style="table-layout:fixed;">
                        <thead>
                            <tr class="align-middle">
                                <th width="60%" scope="col">Processo</th>
                                <th width="40%" scope="col" valign="middle">Configurações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var processo in grupo.ToList().Select(_ => _.entity))
                            {
                                @Html.Partial("Templates/_processoTableRow", Tuple.Create(Model, processo))
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
<div id="card"></div>

<div class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="plog" class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function Imagem(processo, sub) {
            $.get(`/api/processo/robo/imagem/${processo}/${sub}`, s => {
                $.SendToast(s.id, "Executando")
            }).fail(function () {

            });;
        }

        function Audio(processo, sub) {
            $.get(`/api/processo/robo/audio/${processo}/${sub}`, s => {
                $.SendToast(s.id, "Executando")
            }).fail(function () {

            });;
        }

        function Video(processo, sub) {
            $.get(`/api/processo/robo/video/${processo}/${sub}`, s => {
                $.SendToast(s.id, "Executando")
            }).fail(function () {

            });;
        }

        function Publicar(processo, sub) {
            $.get(`/api/processo/robo/publicar/${processo}/${sub}`, s => {
                UpdateRow(processo);
                $.SendToast(s.id, "Publicando")
            }).fail(function () {
                UpdateRow(processo);
            });;
        }

        function Pasta(processo) {
            $.get(`/api/processo/robo/pasta/${processo}`);
        }

        function Log(processo) {
            $('#plog').html('');
            $.get(`/api/processo/${processo}/obter`, s => {
                console.log(s.statusMensagem);
                $('#plog').html(`<pre>${s.statusMensagem}</pre>`);
                $('.modal').modal('show');
            }).fail(function () {

            });;
        }

        function Delete(processo) {
            if (confirm("Remover?")) {
                $.post(`/api/processo/${processo}/deletar`, {}, s => {
                    $(`[data-row-id="${processo}"]`).remove();
                });
            }
        }
        
        function Agendar(processo) {
            var row = $(`[data-row-id="${processo}"]`);
            var data = row.find('.data').val();
            var hora = row.find('.hora').val();
            var horaSplited = hora.split(':');
            var dataSplited = data.split('-');
            if (!hora) {
                $.SendToast(processo, 'Não agendado, falta hora!')
                return;
            }
            $.get(`/api/processo/agendar/${processo}?dia=${dataSplited[2]}&mes=${dataSplited[1]}&ano=${dataSplited[0]}&hr=${horaSplited[0]}&min=${horaSplited[1]}`).then(_ => {
                $.SendToast(processo, 'Processo agendado!')
            });
        }
    </script>
}
