@page
@model YoutubeModel
@{
    ViewData["Title"] = "Youtube";
}

<div class="text-center">
    <h1 class="display-4">Youtube (@Model.Status)</h1>
    <h1 class="display-4">(@Model.Mensagem)</h1>
</div>
